@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --text-primary: #ffffff;
  --text-secondary: #a3a3a3;
  --accent-color: #ffffff; /* Strict Monochrome */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden; 
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}